<div id="search_result">
    <div>User Name:{{user.name}}</div>
    <div>address: {{user.location}}</div>

    <div>
        <img ng-src="{{user.avatar_url}}" title="{{user.name}}">
    </div>

    <div>
        Order:
        <select ng-model="repoSortOrder">
            <option value="name">name</option>
            <option value="stargazers_count">stargazers_count</option>
            <option value="language">language</option>
        </select>

        <table>
            <thead>
            <tr>
                <th><button ng-click="nameSort()">Name</button></th>
                <th><button ng-click="starsSort()">Stars</button></th>
                <th><button ng-click="languageSort()">Language</button></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
                <td>{{repo.name}}</td>
                <td>{{repo.stargazers_count | number}}</td>
                <td>{{repo.language}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <a href="#/main">Back to search</a>

    <div ng-hide="toggleErrorMessage">
        <h1>{{errorMsg}}</h1>
    </div>
</div>