<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>drivername</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>database</param-name>
        <param-value>jdbc:mysql://localhost:3306/entertainment_centre</param-value>
    </context-param>
    <context-param>
        <param-name>usr</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>passwd</param-name>
        <param-value>sasakixi</param-value>
    </context-param>
    <servlet>
        <servlet-name>header</servlet-name>
        <servlet-class>allstuff.header</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>footer</servlet-name>
        <servlet-class>allstuff.footer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchshow</servlet-name>
        <servlet-class>allstuff.searchshow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scheduleshow</servlet-name>
        <servlet-class>allstuff.scheduleshow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addinfo</servlet-name>
        <servlet-class>allstuff.addinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>allstuff.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchreport</servlet-name>
        <servlet-class>allstuff.searchreport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>header</servlet-name>
        <url-pattern>/header</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>footer</servlet-name>
        <url-pattern>/footer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchshow</servlet-name>
        <url-pattern>/searchshow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scheduleshow</servlet-name>
        <url-pattern>/scheduleshow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addinfo</servlet-name>
        <url-pattern>/addinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchreport</servlet-name>
        <url-pattern>/searchreport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcome.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>detailing constraint</display-name>
        <web-resource-collection>
            <web-resource-name>event info constraints</web-resource-name>
            <description>constraits who can add sup info</description>
            <url-pattern>/addinfo</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>what kind of people can add supplement info</description>
            <role-name>scheduler</role-name>
            <role-name>detailers</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>schedule constraint</display-name>
        <web-resource-collection>
            <web-resource-name>events schedule constrains</web-resource-name>
            <description>who can add event fo database</description>
            <url-pattern>/scheduleshow</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>who can add events to db</description>
            <role-name>scheduler</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>entertaiment_certificate</realm-name>
        <form-login-config>
            <form-login-page>/loginform.html</form-login-page>
            <form-error-page>/loginerror.html</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>add shows and add supplement data</description>
        <role-name>scheduler</role-name>
    </security-role>
    <security-role>
        <description>only can add supplement data</description>
        <role-name>detailers</role-name>
    </security-role>
</web-app>
